h1{
    color: cornflowerblue;
    text-align: center;
}
.navbar-logo {
    height: 100px;
    width: auto;
  }

  .card{
    width: 33.33%
  }

  .home-text{
    text-align: center;
    font-size: medium;

  }

  .rounded float-start{
    size: 50px;
  }

  .col{
    padding: 25px;
  }
  .carousel-item img {
    margin: 0 auto;
   }
   .row {
    display: flex;
    justify-content: center;
    padding-left: 20px;

  }
  
  .column {
    flex: 1;
  }
   .column img {
    width: 40%;

  }

